name: snail app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows
            runner: windows-latest
            architecture: amd64
          - os: windows
            runner: windows-11-arm
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: amd64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Move /app to root and remove everything else (bash fix)
        if: runner.os != 'Windows'
        run: |
          shopt -s dotglob
          find . -maxdepth 1 -mindepth 1 !  -name '. git' ! -name 'app' -exec rm -rf {} +
          mv ./app/* .
          shopt -u dotglob
          rm -rf app

      - name: Move /app to root and remove everything else (Windows fix)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          Get-ChildItem -Path . -Force | Where-Object { $_.Name -notin ".git","app" } | Remove-Item -Recurse -Force
          Get-ChildItem -Path .\app -Force | Move-Item -Destination .\ -Force
          Remove-Item -Recurse -Force .\app

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download

      - name: Install the Fyne CLI
        run: |
          go install fyne.io/tools/cmd/fyne@latest

      - name: Build app (${{ matrix.os }} - ${{ matrix.architecture }}) (bash)
        if: ${{ matrix. os == 'darwin' }}
        run: |
          GOARCH=${{ matrix.architecture }} fyne package -os ${{ matrix.os }}

      - name: Build app (${{ matrix. os }} - ${{ matrix.architecture }}) (powershell)
        if: ${{ matrix.os == 'windows' && matrix.architecture != 'arm64' }}
        run: |
          $env:GOARCH='${{ matrix.architecture }}'
          fyne package -os ${{ matrix.os }}
        shell: pwsh

      - name: Build app Windows ARM64
        if: ${{ matrix.os == 'windows' && matrix.architecture == 'arm64' }}
        run: |
          $env:GOARCH='arm64'
          fyne package -os windows -name snail-installer.exe
        shell: pwsh

      - name: Create Windows ZIP file
        if: ${{ matrix.os == 'windows' }}
        run: |
          Compress-Archive -Path ./snail-installer.exe -DestinationPath ./snail-installer-${{ matrix. architecture }}.zip
        shell: pwsh

      - name: Sign macOS app
        if: ${{ matrix.os == 'darwin' }}
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./snail-installer.app

      - name: Create macOS DMG file
        if: ${{ matrix.os == 'darwin' }}
        run: |
          hdiutil create -format UDZO -srcfolder ./snail-installer.app ./snail-installer-${{ matrix.architecture }}.dmg

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os == 'windows' && format('snail-installer-{0}. zip', matrix.architecture) || format('snail-macos-{0}.dmg', matrix.architecture) }}
          path: ${{ matrix.os == 'windows' && format('snail-installer-{0}.zip', matrix. architecture) || format('snail-installer-{0}.dmg', matrix.architecture) }}
