name: snail app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows
            runner: ubuntu-latest
            architecture: amd64
          - os: windows
            runner: ubuntu-latest
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: amd64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies for cross-compiling
        if: ${{ matrix.os == 'windows' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64

      - name: Install Clang
        if: ${{ matrix.os == 'windows' && matrix.architecture == 'arm64' }}
        run: sudo apt-get install -y clang

      - name: Install dependencies
        run: |
          go mod download
          go install
        working-directory: ./app

      - name: Install the Fyne CLI
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Set cross-compilation environment variables
        run: |
          if [ "${{ matrix.os }}" == "windows" ]; then
            export GOOS=windows
            export GOARCH=${{ matrix.architecture }}
            export CGO_ENABLED=1
            if [ "${{ matrix.architecture }}" == "amd64" ]; then
              export CC=x86_64-w64-mingw32-gcc
            elif [ "${{ matrix.architecture }}" == "arm64" ]; then
              export CC=clang
              export CFLAGS="--target=aarch64-windows-gnu"
              export LDFLAGS="--target=aarch64-windows-gnu"
            fi
          elif [ "${{ matrix.os }}" == "darwin" ]; then
            export GOARCH=${{ matrix.architecture }}
          fi

      - name: Build app (${{ matrix.os }} - ${{ matrix.architecture }})
        run: |
          fyne package -os ${{ matrix.os }}
        working-directory: ./app

      - name: Create Windows ZIP file
        if: ${{ matrix.os == 'windows' }}
        run: |
          Compress-Archive -Path ./snail-installer.exe -DestinationPath ./snail-installer-${{ matrix.architecture }}.zip
        shell: pwsh
        working-directory: ./app

      - name: Sign macOS app
        if: ${{ matrix.os == 'darwin' }}
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./snail-installer.app
        working-directory: ./app

      - name: Create macOS DMG file
        if: ${{ matrix.os == 'darwin' }}
        run: |
          hdiutil create -format UDZO -srcfolder ./snail-installer.app ./snail-installer-${{ matrix.architecture }}.dmg
        working-directory: ./app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os == 'windows' && format('snail-installer-{0}.zip', matrix.architecture) || format('snail-macos-{0}.dmg', matrix.architecture) }}
          path: |
            ${{ matrix.os == 'windows' && format('./app/snail-installer-{0}.zip', matrix.architecture) || format('./app/snail-installer-{0}.dmg', matrix.architecture) }}
