name: snail app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows
            runner: windows-latest
            architecture: amd64
          - os: windows
            runner: windows-latest
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: amd64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download
          go install
        working-directory: ./app

      - name: Install the Fyne CLI
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Build app (${{ matrix.os }} - ${{ matrix.architecture }})
        run: |
          GOARCH=${{ matrix.architecture }} fyne package -os ${{ matrix.os }}
        working-directory: ./app

      - name: Create Windows ZIP file
        if: ${{ matrix.os == 'windows' }}
        run: |
          Compress-Archive -Path ./snail-installer.exe -DestinationPath ./snail-installer-${{ matrix.architecture }}.zip
        shell: pwsh
        working-directory: ./app

      - name: Sign macOS app
        if: ${{ matrix.os == 'darwin' }}
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./snail-installer.app
        working-directory: ./app

      - name: Create macOS DMG file
        if: ${{ matrix.os == 'darwin' }}
        run: |
          hdiutil create -format UDZO -srcfolder ./snail-installer.app ./snail-installer-${{ matrix.architecture }}.dmg
        working-directory: ./app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os == 'windows' && format('snail-installer-{0}.zip', matrix.architecture) || format('snail-macos-{0}.dmg', matrix.architecture) }}
          path: |
            ${{ matrix.os == 'windows' && format('./app/snail-installer-{0}.zip', matrix.architecture) || format('./app/snail-installer-{0}.dmg', matrix.architecture) }}
