name: snail app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows
            runner: ubuntu-latest
            architecture: amd64
          - os: windows
            runner: ubuntu-latest
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: arm64
          - os: darwin
            runner: macos-15
            architecture: amd64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Move /app to root and remove everything else
        run: |
          shopt -s dotglob
          find . -maxdepth 1 -mindepth 1 !  -name '.git' ! -name 'app' -exec rm -rf {} +
          mv ./app/* .
          shopt -u dotglob
          rm -rf app

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download

      - name: Install the Fyne CLI (macos builds)
        if: ${{ matrix.os == 'darwin' }}
        run: |
          go install fyne.io/tools/cmd/fyne@latest

      - name: Install fyne-cross (windows builds)
        if: ${{ matrix.os == 'windows' }}
        run: |
          go install github.com/fyne-io/fyne-cross@latest

      - name: Build app (${{ matrix.os }} - ${{ matrix.architecture }}) (bash)
        if: ${{ matrix.os == 'darwin' }}
        run: |
          GOARCH=${{ matrix.architecture }} fyne package -os ${{ matrix.os }}

      - name: Build app (${{ matrix.os }} - ${{ matrix.architecture }}) (fyne-cross)
        if: ${{ matrix.os == 'windows' }}
        run: |
          fyne-cross windows -arch=${{ matrix.architecture }} -name snail-installer-${{ matrix.os }}-${{ matrix.architecture }} --app-id com.espcaa.snail

      - name: Sign macOS app
        if: ${{ matrix.os == 'darwin' }}
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./snail-installer.app

      - name: Create macOS DMG file
        if: ${{ matrix.os == 'darwin' }}
        run: |
          hdiutil create -format UDZO -srcfolder ./snail-installer.app ./snail-installer-${{ matrix.architecture }}.dmg

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-installer-${{ matrix.os }}-${{ matrix.architecture }}
          path: ${{ matrix.os == 'windows' && format('./fyne-cross/dist/windows-{0}/snail-installer-windows-{0}.zip', matrix.architecture) || format('./snail-installer-{0}.dmg', matrix.architecture) }}
