name: macOS App Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15

    strategy:
      matrix:
        architecture: [arm64, amd64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download
          go install
        working-directory: ./app

      - name: Install the fyne cli
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Build macOS app
        run: |
          GOARCH=${{ matrix.architecture }} fyne package -os darwin
        working-directory: ./app

      - name: Sign macOS app
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./app/snail-installer.app

      - name: Create DMG file
        run: |
          hdiutil create -format UDZO -srcfolder ./app/snail-installer.app ./app/snail-installer-${{ matrix.architecture }}.dmg

      - name: Upload macOS DMG artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-macos-${{ matrix.architecture }}.dmg
          path: ./app/snail-installer-${{ matrix.architecture }}.dmg
