name: macos app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download
          go install
        working-directory: ./app

      - name: Install the fyne cli
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Build macOS app
        run: |
          fyne package -os darwin
        working-directory: ./app

      - name: Sign macOS app
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./app/snail-installer.app

      - name: Create DMG file
        run: |
          hdiutil create -format UDZO -srcfolder ./app/snail-installer.app ./app/snail-installer.dmg

      - name: Upload macOS arm64 DMG artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-macos-arm64.dmg
          path: ./app/snail-installer.dmg

      - name: Build macOS x86_64 app
        run: |
          GOARCH=amd64 fyne package -os darwin
        working-directory: ./app

      - name: Sign macOS x86_64 app
        run: |
          codesign --deep --force --verify --verbose --sign "-" ./app/snail-installer.app

      - name: Remove previous DMG file
        run: |
          rm ./app/snail-installer.dmg

      - name: Create DMG file
        run: |
          hdiutil create -format UDZO -srcfolder ./app/snail-installer.app ./app/snail-installer.dmg

      - name: Upload macOS DMG artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-macos-x86_64.dmg
          path: ./app/snail-installer.dmg
