name: macos app build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download
          go install
        working-directory: ./app

      - name: Install the fyne cli
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Build macOS app
        run: |
          fyne package -os darwin
        working-directory: ./app

      - name: Upload macOS arm64 app artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-macos-arm64.app
          path: ./app/snail-installer.app

      - name: Build macOS x86_64 app
        run: |
          fyne package -os darwin -arch x64
        working-directory: ./app

      - name: Upload macOS x86_64 app artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-macos-x86_64.app
          path: ./app/snail-installer.app
