name: Windows App Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        architecture: [amd64, arm64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod download  # Download Go modules
          go install  # Install dependencies
        working-directory: ./app

      - name: Install the Fyne CLI
        run: |
          go install fyne.io/tools/cmd/fyne@latest
        working-directory: ./app

      - name: Build Windows app (x86_64 or arm64)
        run: |
          GOARCH=${{ matrix.architecture }} fyne package -os windows
        working-directory: ./app

      - name: Create ZIP file
        run: |
          Compress-Archive -Path ./app/snail-installer.exe -DestinationPath ./app/snail-installer-${{ matrix.architecture }}.zip
        working-directory: ./app

      - name: Upload Windows ZIP artifact
        uses: actions/upload-artifact@v4
        with:
          name: snail-installer-${{ matrix.architecture }}.zip
          path: ./app/snail-installer-${{ matrix.architecture }}.zip
